@model ExamViewModel

@{
    ViewData["Title"] = "IndexProgramme";
}

<h1>IndexProgramme</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProgrammeCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exams) {
    @*@if (Model.ProgrammeCode.ToString() != null)
    {*@
        <tr>
            <td>
                @Html.DisplayFor(model => model.ProgrammeCode)
            </td>
            <td>
                @Html.DisplayFor(model => model.Exams.ToList().Count)
            </td>
            <td>
                @Html.DisplayFor(model => model.ToString().Length)
            </td>
         
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    @*}*@

        
}
    </tbody>
</table>
